@font-face {
  font-family: 'KBIZgo';
  src: url('https://cdn.jsdelivr.net/gh/illeven/braves@main/fonts/KBIZgo_Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'KBIZgo';
  src: url('https://cdn.jsdelivr.net/gh/illeven/braves@main/fonts/KBIZgo_Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'KBIZgo';
  src: url('https://cdn.jsdelivr.net/gh/illeven/braves@main/fonts/KBIZgo_Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'KBIZgo';
  src: url('https://cdn.jsdelivr.net/gh/illeven/braves@main/fonts/KBIZgo_Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'KBIZgo';
  src: url('https://cdn.jsdelivr.net/gh/illeven/braves@main/fonts/KBIZgo_Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}